@media (max-width: 700px){
.hamburger{
	width: 30px;
	position: absolute;
	top: 40px;
	transform: translateY(-50%);
}
.hamburger span{
	margin-bottom: 3px;
	background-color: #fff;
	display: block;
	height: 3px;
}
.menu .logo{
	margin-left: 50px;
}
.menu{
	position: relative;
}
nav ul{
	float: none;
	width: 300px;
	padding: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #000;
	margin: 0;
	padding-top: 60px;
	transition: 1s;
	left: -100%;
	z-index: 2;

}
.open{
	left: 0;
}
.menu ul li{
	display: block;
	float: none;
}
.menu ul li a{
	font-size: 18px;
	padding: 10px 40px;
}
.close{
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 10px;
	top: 15px;
	color: skyblue;
	font-size: 2em;
	cursor: pointer;
}
}
@media(max-width: 900px){
	.servicios .contenido{
	grid-template-columns: auto auto;
	}
}
@media(max-width: 700px){
	.servicios .contenido{
	grid-template-columns: auto;
	}
}